*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
    padding: 2%;
    padding-top: 0;
}

#flex-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 25px;
    flex-wrap: wrap;
}

#contenu{
    padding: 3%;
    line-height: 28px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    text-align: center;
}

.strong{
    font-weight: bold;
}

ul{
    list-style: none;
    text-align: center;
    padding-left: 0;

    display: flex;
    justify-content: space-around;
    gap: 25px;
    flex-wrap: wrap;
}

li{
    min-width: 150px;
}

img{
    height: 250px;
    width: 250px;
}

