*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
    padding: 2%;
}

#flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contenu{
    padding: 3%;
    line-height: 28px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    text-align: center;
}

.strong{
    font-weight: bold;
}

ul{
    list-style: none;
    text-align: center;

    display: flex;
    justify-content: space-around;
}

img{
    height: 150px;
    width: 150px;
}

